[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
python-jose = "*"
python-multipart = "*"
uvicorn = "*"
bcrypt = "*"
passlib = "*"
python-dotenv = "*"
aiofiles = "*"
fastapi-mail = "*"

[dev-packages]

[requires]
python_version = "3.10"
